<template name="bookmarklet">
	<form class="form">
    <div>
      <h1 id="headline" contentEditable="true">{{post_preview.title}}</h1>
        <img src="{{post_preview.thumbnail}}"/>
      <p>{{post_preview.description}}</p>
      <small>{{post_preview.provider_name}}</small>
    </div>

    <div class="form-group">
      <label for="note">Note</label>
      <div class="controls">
          <textarea name="note" id="note" type="text" value=""></textarea>
      </div><!-- controls -->
    </div><!-- form-group -->

    <input type="submit" value="Submit"/>
  </form>
</template>
