<template name="postTease">
	<img src="{{thumbnail}}" style="width: 100px; float: right;"/>
  	{{#unless custom_title}}
  	<h1><a href="{{url}}">{{title}}</a></h1>
  	{{else}}
  	<h1><a href="{{url}}">{{custom_title}}</a></h1>
  	{{/unless}}
  	<small>{{#if provider_name}}{{provider_name}}{{else}}{{url}}{{/if}}</small>
  	<p>{{note}}</p>
  	<small>submitted by <strong><a href="/users/{{userId}}">{{userName}}</a></strong></small>
  	<a href="#" class="saveThis">{{save}}</a>
  	<p>{{saveCount}} saves</p>
    <a href="/posts/{{_id}}">Permalink</a>
</template>
