<template name="postSubmit">
	<h1>Submit a link</h1>

	<form class="form">
    <div class="form-group">
      <label for="url">URL</label>

      <p id="error-dupe" style="color: red; display: none">This link has already been submitted</p>

      <div class="controls">
          <input name="url" id="url" type="text" value="" placeholder="Your URL" class="form-control"/>
      </div><!-- controls -->
    </div><!-- form-group -->

    <div class="form-group">
      <label for="note">Note</label>
      <div class="controls">
          <textarea name="note" id="note" type="text" value=""></textarea>
      </div><!-- controls -->
    </div><!-- form-group -->

    <input type="submit" value="Submit"/>
  </form>

<hr>
  <div>
    <h1>{{post_preview.title}}</h1>
      <img src="{{post_preview.thumbnail}}"/>
    <p>{{post_preview.description}}</p>
    <small>{{post_preview.provider_name}}</small>
  </div>
</template>
