<template name="header">
	<a href="/">Courier</a>
	<a href="/submit">Submit a link</a>
	<a href="/saved">My Saved</a>

	<a href="javascript:( function(){ m='http://localhost:3000/bookmarklet/?title='+encodeURIComponent(document.title)+'&url='+encodeURIComponent(document.location);w=window.open(m,'addwindow','status=no,toolbar=no,width=575,height=320,resizable=yes');setTimeout(function(){w.focus();},%20250);})();">CourierJS</a>

	{{#if user}}<a href="/users/{{userLink}}">My Links</a>{{/if}}

	<div>{{>loginButtons}}</div>
	<hr/>
</template>
